<div class="row">
	<h2>{{'ROLES'|i18n}}</h2>
	<input type="text" ng-model="search" class="search-query" placeholder="{{'SEARCH'|i18n}}">
	<p>&nbsp;</p>
	<table width="100%" class="table table-striped table-bordered table-condensed">
		<tr><td><table width="98%">
			<tr>
				<th width="100">{{'perfil.authority'|i18n}}</th>
				<th width="10"><a href="#/perfil/new"><i class="icon-plus-sign"></i></a></th>
			</tr>
		</table></td></tr>
		<tr><td><div class="scroll" do-scroll="load()"><table width="99%">
			<tr ng-repeat="perfil in list | filter:search | orderBy:'authority'">
				<td width="100">{{perfil.authority}}</td>
				<td width="10"><a href="#/perfil/edit/{{perfil.id}}"><i class="icon-pencil"></i></a></td>
			</tr>
		</table></div></td></tr>
	</table>
</div>